@charset "UTF-8";

html{
	overflow: hidden;
}

body{
	margin: 0;
	font-size: 26px;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	color: white;
	height: 100vh;
	perspective: 1px;
	transform-style: preserve-3d;
	overflow-x: hidden;
	overflow-y:auto;
}

.parallax-wrapper{
	width: 100vw;
	height:100vh;
	padding-top:20vh;
	box-sizing: border-box;
	transform-style: preserve-3d;
}

.parallax-wrapper::before{
	content: "";
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-image: url(starbackground.png);
	position: absolute;
	z-index: -1;
	transform: translateZ(-1px) scale(2);	
}
.regular-wrapper{
	width: 100vw;
	height: 125vh;
	padding-top: 20vh;
	background-image: url(moon.png);
	z-index: 2;
	position: relative;
}
.second-wrapper{
	width: 100vw;
	height: 100vh;
	padding-top:20vh;
	box-sizing: border-box;
	transform-style: preserve-3d;
}

.second-wrapper::before{
	content: "";
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-image: url(starbackground.png);
	position: absolute;
	z-index: -1;
	transform: translateZ(-1px) scale(2);	
}

.two-wrapper{
	width: 100vw;
	height: 125vh;
	padding-top: 20vh;
	margin-right: 100vh;
	background-image: url(closermoon.png);
	z-index: 2;
	position: relative;
}

.third-wrapper{
	width: 100vw;
	height: 100vh;
	padding-top:20vh;
	box-sizing: border-box;
	transform-style: preserve-3d;
}

.third-wrapper::before{
	content: "";
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-image: url(starbackground.png);
	position: absolute;
	z-index: -1;
	transform: translateZ(-1px) scale(2);	
}
.three-wrapper{
	width: 150vw;
	height: 150vh;
	padding-top: 20vh;
	margin-right: 500vh;
	background-image: url(finalmoon.png);
	z-index: 2;
	position: relative;
}

.content{
	margin: 0 auto;
    padding: 50px;
	width: 50%;
  
}





